@require './config'

.button {
  color: #ffffff !important; 
  text-decoration: none;
  background-color: #6822aa;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
}

.button-disabled {
  color: #ffffff !important; 
  text-decoration: none;
  background-color: #32936f;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
}

.action-button {
  background-color: #6822aa !important;
  margin-left: 1rem !important;
}

.features {
  text-align: center !important;
}

.split-div {
  border-top 1px solid $borderColor
  padding 1.2rem 0
  margin-top 2.5rem
  display flex
  flex-wrap wrap
  align-items flex-start
  align-content stretch
  justify-content space-between
}

.each-div {
  flex-grow 1
  flex-basis 45%
  max-width 45%
  margin-left 0.25rem
}

code {
  word-wrap: break-word !important;
  overflow-x: hidden !important;
  font-size: 75%;
}

.footer {
  border-top 1px solid $borderColor
  font-size: 75%;
  padding-left: 1rem
}

.brand-logo {
  border-top 1px solid $borderColor;
  border-bottom 1px solid $borderColor;
  border-left 1px solid $borderColor;
  border-right 1px solid $borderColor;
  width: 50%;
}

td {
  vertical-align: top !important;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem; 
}

.img-with-border {
  border-top 1px solid $borderColor;
  border-bottom 1px solid $borderColor;
  border-left 1px solid $borderColor;
  border-right 1px solid $borderColor;
}

.logo {
  vertical-align: top;
}

